<div class="row">
  <div class="col">
    <ol class="list-group">
      <li
        *ngFor="let todo of todos"
        class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i
          (click)="deleteTodo(todo)"
          class="bi bi-trash2"></i>
      </li>
    </ol>
  </div>
  <div class="col">
    name:
    <input  type="text" [(ngModel)]="todo.name" class="form-control" /> content:
    <input  type="text" [(ngModel)]="todo.content" class="form-control" />
    <button
     (click)="addTodo()"
      class="btn btn-primary m-2"
    >
      add
    </button>
  </div>
</div>
